
#changelist table thead th {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	/*overflow: auto;*/ /*hidden*/
    text-align: center;
}

#changelist table tbody td, #changelist table tbody th {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	/*overflow: auto;*/ /*hidden*/
}

#changelist table tbody th {
    white-space: normal;
}

/* to let below css width take effort, should remove talbe-layout fix property */

body.model-shelf #changelist table tbody tr td:nth-child(8) {
    width:80px!important;
    /*background-color: #2bde73;*/
    text-align: center;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(3) {
    width:8%;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(4) {
    width:8%!important;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(5) {
    width:8%!important;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(9) {
    width:8%!important;
}

td, th {
    /*border-bottom: 1px solid #CCCCCC;*/
    border-bottom: none;
    padding:0px;
    vertical-align: middle;
    text-align: center;
}

tbody th{
    text-align: left;
    text-indent:10px;
}
#changelist .row1 td input, .row1 td select{
    background-color: #EDF3FE;
}

#changelist table tbody tr.selected td input, #changelist table tbody tr.selected td select{
    background-color: #FFFFCC!important;
}

td input, td select{
    padding:0px!important;
    margin:0px!important;
}
td input[type=text],td select{
    border-radius: 3px;
    width:100%;
    height: 30px;
    /*border: 2px solid #ccc;*/
    border: none;
    text-indent:10px;
}

input[type=checkbox]{
    /*padding:5px 0px 0px 0px!important;*/
}


/*offset propeties*/
/*left*/
/*right*/
/*padding*/
/*margin*/
/*text-indent:10px;*/
/*overflow-x:visible;*/
/*overflow-y:visible;*/


/*align propeties*/
/*position: relative;
/*!*text-alight*!*/
/*vertical-align*/
