{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load threadedcomments_tags %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
	<h3>{{ object }}</h3>
	<form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
		{{form|crispy}}
		<img  id='img' class= 'img-responsive' src="{{object.get_image_url}}"/>
		<input type="submit" value='Update' class='btn' />
	</form>

<!-- 	<h2>Comments for {{ object.title }}:</h2>

	{% render_comment_list for object %}
	{% render_comment_form for object %}

	{% get_comment_list for object as comment_list %}
	{% get_comment_form for object as comment_form %}

	{% for comment in comment_list|fill_tree|annotate_tree %}
	    {% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}
	    {% if not comment.open and not comment.close %}</li>{% endif %}
	    {% if comment.open %}<ul>{% endif %}

	    <li id="c{{ comment.id }}">
	        .....
	    {% for close in comment.close %}</li></ul>{% endfor %}
	{% endfor %} -->


</div>

{% endblock %}