{% load comments %}



(function($){
    $.fn.bindPostCommentHandler = function() {
        // We get passed a list of forms; iterate and get a unique id for each
        // attach a submit trigger to handle saving and returning
        this.each(function() {            
            try{
                //$(this).find('input.submit-preview').remove(); 
                //$(this).find('input.submit-post').parent().append("<input type='hidden' name='next' value='{% url "Crowdfunding_comments" pk=object.id %} '/>"); 
                //$(this).find('input#id_url').parent().remove(); // valid only for '#new_cmt form'
            }
            catch (err) {
            }

            $(this).submit(function() {
                commentform = this; 
                commentwrap = $(this).parent(); //#newly_posted_comment
                commentchild = $(commentwrap).next();
                $.ajax({
                    type: "POST",
                    data: $(commentform).serialize(),
                    url: "{% comment_form_target %}",
                    cache: false,
                    dataType: "html",
                    beforeSend : function(){
                        console.log("sent");
                    },
                    success: function(html, textStatus) {                        
                        // window.location.reload();

                        // Replace the whole comments area
                        //postedcomment = $(html).find('#cmt_show');
                        //posted_comment_html=postedcomment.html();
                        //console.log(posted_comment_html);
                        //posted_comment_wrap_html="<div id='cmt_show'>"+posted_comment_html+"</div>";
                        //$('#cmt_show').replaceWith(posted_comment_wrap_html);
                        //$('.comment-form form').bindPostCommentHandler();
                        
                        // this method will only replace form with comment
                        // Extract the form from the returned html
                        postedcomment = $(html).find('#newly_posted_comment'); //find return the beneath, #newly_posted_comment will not show in html
                        console.log("received");
                        //console.log(postedcomment.html());
                        
                        //$(commentform).replaceWith(postedcomment.html());
                        //$(commentwrap).slideDown(600);
                        //$(commentwrap).find('.comment-form form').bindPostCommentHandler(); //bind for the new form

                        $(commentwrap).css("display","none");
                        //$(commentchild).replaceWith('<div class="children"><div>' + postedcomment.html() + '</div></div>');
                        $(commentchild).append(postedcomment.html());
                        //$(commentchild).find('.comment-form form').bindPostCommentHandler(); // not valid, ?
                        $('.comment-form form').bindPostCommentHandler();      
 
                        $(".fa-reply").bind("click",function(){bindform($(this));});                        
                        $('#comment_form form')[0].reset(); //only for new level0 comments post                       
                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(commentform).replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                    }
                });
                return false;
            });
        }); //each
    };
})(jQuery);



$(function() {
    $('.comment-form form').bindPostCommentHandler(); 
    $('#new_cmt form').bindPostCommentHandler(); 

});




