{% load mptt_tags %}
{% load comments %}	
{% load mytags %}

<div id='cmt_show'>
	<h3>Comments for - {{ object.title }}:</h3>
	<hr>
	{% get_comment_list for object as comments %}
	{# full_tree_for_model comments.MPTTComment as comments #}

	{% if comments %}
		{% recursetree comments %}
			{# if node.level > 0 or node.object_pk == object.id|int2str #} {# required only if full_tree_for_model used #}
				{% if request.REQUEST.c|add:"0" == node.id %}<div id="newly_posted_comment">{% endif %}	
					<div class="comments-cell" {% if node.level > 0 %}style="border-color: #b5abab;border-style: solid;border-width: 1px;padding:5px 5px 5px 15px; margin:3px; background-color: rgba(217, 222, 174, 0.12);"{% endif %}>
					    <div class="comments-msg" style=" min-height: 30px">
							<a name="c{{ node.id }}" href="{{ node.user.get_image_url }}" style="float: left;">
							    <img style="height:25px; width:25px; margin-right: 10px"  src="{{ node.user.get_image_url }}" alt="...">
							</a>
							{{ node.comment }}
						</div>
						<div class="row comment-footer">
						    <div class="col-sm-6">
								{{ node.user }} 
							</div>
							<div class="col-sm-6 pull-right text-right">
								{{ node.submit_date|timesince }} ago 
								<a type = "submit"><i class="fa fa-reply"  aria-hidden="true"> Reply</i></a>
								<a href="{{ object.get_absolute_url }}#c{{ node.id }}">#</a>
							</div>
                        </div>
										

	                    {# get_comment_form for node as form #}
						{# include "comments/form.html" with form=form node=node object=object #} <!-- replace by render_comment_form, default template is comments/form.html -->

						{% render_comment_form for object %}

						{# recursion! children of a given comment #}
						<div class="children">
						{% if not node.is_leaf_node %}
							<!--<ul class="children">-->
							{{ children }}
							<!--</ul>-->
						{% endif %} 
						</div>
					</div>					
				{% if request.REQUEST.c|add:"0" == node.id %}</div>{% endif %}	
			{# endif #}
		{% endrecursetree %}
	{% endif %}
	{% render_comment_form for object %}

</div>

