{% load comments i18n %}

<div class="comment-form" id="comment-form-{{ node.id }}" {% if node.id %} style="display:none; padding-bottom:40px"{% endif %}>
	<form action="{% comment_form_target %}" method="post" id="comment-form-{{ node.id }}f">{% csrf_token %}
	    {{ form.object_pk }}
	    {{ form.content_type }}
	    {{ form.timestamp }}
        {# form.site #}
        {# form.submit_date #}
        {{ form.security_hash }}

	    {% if node.id %}
	        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />	           
	    {% endif %}<br>
	    <input type='hidden' name='next' value='{% url "Crowdfunding_comments" pk=object.id %}'/>   
	    
	    {{ form.comment }} 

	    <input class='btn btn-default' type="submit" value="submit">
	    
	</form>
</div>


