{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <!--{% for object in object_list %}-->
            <!--<a href="{{object.get_absolute_url }}"> {{object }} </a></p>-->
        <!--{% endfor %}-->

        <form method="post" action="">{% csrf_token %}
            {{ formset.management_form }}

            <table class="table table-hover table-striped table-container table-condensed">
                <thead>
                <tr>
                    <th>Spray Pump Room</th>
                    {% for month in months %}
                    <th>{{month.1}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for field in formset.0 %}{% if not field.name == 'id' %}
                <tr>
                    <th>{{field.label_tag}}</th>
                    {% for form in formset %}
                        <td>
                            <span style="display: none">{{form.voltage_and_power_normal.label_tag}}</span>
                            {% for field0 in form %}
                                {% if field0.name == field.name %}
                                    {{field0}}
                                {% endif %}
                            {% endfor %}
                            <input id="id_form-{{forloop.counter0}}-id" name="form-{{forloop.counter0}}-id" type="hidden" value="{{forloop.counter}}">
                        </td>
                    {% endfor %}

                    {% comment %}
                    <td><span style="display: none">{{formset.0.voltage_and_power_normal.label_tag}}</span>{{formset.0.voltage_and_power_normal}}
                    <input id="id_form-0-id" name="form-0-id" type="hidden" value="1"></td>
                    <td><span style="display: none">{{formset.1.voltage_and_power_normal.label_tag}}</span>{{formset.1.voltage_and_power_normal}}
                    <input id="id_form-1-id" name="form-1-id" type="hidden" value="2"></td>
                    {% endcomment %}
                </tr>
                {% endif %}{% endfor %}
                </tbody>
            </table>

            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
{% endblock %}