{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block head_css_extend %}
{{ form.media.css }}
{% endblock %}
</style>

{% block javascript_extended %}
{{form.media.js}}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";</script>    
{% endblock %}

{% block content %}

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="text-center">
			<lead><h1>{% trans "Create New Item" %}</h1></lead>
			<p></p>
		</div>
		<hr>

		<div>
			{% include "form_horizontal.html" with file=True %}
		</div>
	</div>
</div>


{% endblock %}