{% extends "inspection/base_inspection.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="text-center">
			<lead><h2>{{object.location}}</h2></lead>
			Create : {{object.timestamp}}	     Last Update : {{object.updated}}			
		</div>
		<hr>

		<div>	
            {% include "form_horizontal.html" with submitvalue="Submit" file=True %} 
		</div>

		<div>
			<img  id='img_before' class= 'img-responsive' src="{{object.get_image_url_before}}"/>
		</div>

		<div>
			<img  id='img_before' class= 'img-responsive' src="{{object.get_image_url_after}}"/>
		</div>
	</div>
	<div class='col-sm-3'>
	</div>
</div>


{% endblock %}