{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}

<style type="text/css">
{% block style %}

{% endblock%}
</style>

<script>
{% block js %}

$(document).ready(function(){
	$("td:contains('notcomplete')").css("background-color","red");
	$("td:contains('completed')").css("background-color","green");

});

{% endblock %}
</script>

{% block content %}

<div class='row'>
	<div class='col-sm-3 col-md-2 '>
		<form method="GET" action="{% url 'dailyinspection_list' %}">	
			{{ InspectionFilterForm|crispy }}

			<input type='hidden' name='q' value='{{ request.GET.q }}' />
			<input type='submit' value='Apply Filter' class='btn btn-default'>
		</form>
		<a href="{% url 'dailyinspection_list' %}">Clear Filters</a>  
	    <hr>
	</div>		
	<div class='col-sm-9 col-md-10 container'>	
        
	    <div class="row">
            
			{% autopaginate object_list 6 %}
            
			{% if object_list.count == 0 %}
				Nothing found
			{% else %}
            	{% comment %}
				{% include "dailyinspection/inspections.html" with object_list=object_list %}
            {% endcomment %}
			{% endif %}
            
			<div class="text-center">
			{% paginate %}
			</div>
            
		</div>
        
		<div class="row">
	    	<h4><a href='{% url "dailyinspection_create" %}'>Create New Item</a></h4>
	    </div>
        
	</div>
</div>

<hr>
<div>
	<h3>Latest Update</h3>
	<hr>
	<ul style="list-style:none; padding-left:2px; margin-left:2px;">
		{% for object in objects_sort %}
		<li style="padding-bottom: 5px;">
			<a href='{{ object.get_absolute_url }}'>{{object}}</a>
		</li>
		{% endfor %}
	</ul>		
</div>

{% endblock %}

