{% extends "base.html" %}
{% load staticfiles %}

<style>
{% block head_css_extend %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}
</style>


{% block jquery %}
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="/admin/jsi18n/"></script>
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/calendar.js' %}"></script> 
<script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script> 
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";</script>    
{% endblock %}



<style type="text/css">
{% block style %}

.field-area ul{
	list-style:none;
}

.field-area li{
	float:left;
	width:200px;
}

{% endblock%}
</style>

<script>
{% block js %}

$(document).ready(function(){
	$(".field-area input").addClass("form-control");
	$(".field-area select").addClass("form-control");
	$(".field-area textarea").addClass("form-control");
	$(".field-area>label").addClass("col-sm-2 control-label");
});

{% endblock %}
</script>

{% block content %}

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="text-center">
			<lead><h1>Create New item</h1></lead>
			<p></p>
		</div>
		<hr>

		<div>
			{% include "form_horizontal.html" with file=True %}
		</div>
	</div>
</div>


{% endblock %}