{% extends "base.html" %}
{% load crispy_forms_tags %}
{# load myform_tags #}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
        
        <div class="text-center caption">
            <lead><h2>{{object.inspection_content}}</h2>
            <span><b>{% trans 'Create' %}</b></span> : {{object.created}} &nbsp &nbsp &nbsp <span><b>{% trans 'Last Update' %}</b></span> : {{object.updated}}	
            <hr>
        </div>         
		
		<div>
			{% trans 'Category' %} : {{ object.get_category}} <br>
			{% trans 'Inspection Content' %} : {{ object.inspection_content}} <br>
			{% trans 'Impact' %} : {{ object.get_impact }} <br>
			{% trans 'Rectification Measures' %} : {{ object.rectification_measures}} <br>
			{% trans 'Rectification Status' %} : {{ object.get_rectification_status}} <br>
			{% trans 'Owner' %} : {{ object.owner}} <br>
			{% trans 'Due Date' %} : {{ object.due_date}} <br>
			{% trans 'Picture before Rectification' %} : <img  class= 'img-responsive' src="{{ object.get_image_url_before}}"/> <br>			
			{% trans 'Picture after Rectification' %} : <img  class= 'img-responsive' src="{{ object.get_image_url_after}}"/> <br>	
			{% trans 'Location' %} : {{ object.get_location}} <br>

			<hr>

			{% if request.user.is_staff or request.user.is_superuser %}
			<a class="btn btn-primary" style="width:100px;" href="{{object.get_absolute_url_update}}">{% trans 'Update' %}</a>
			{% endif %}
			<a class="btn btn-secondary" style="width:100px;border-color: #428bca;" href="{% url 'dailyinspection_list' %}">{% trans 'Back' %}</a>
			<!-- <a href="{% url 'dailyinspection_list' %}"><button class="btn btn-secondary" style="width:100px;" >{% trans 'Back' %}</button></a> -->
			{% if request.user.is_staff or request.user.is_superuser %}
			<a class="btn btn-danger pull-right" style="width:100px;" href="{{object.get_absolute_url_delete}}"  >{% trans 'Delete' %}</a>
			{% endif %}
		</div>
        
	</div>
</div>


{% endblock %}