<table class="table table-hover table-striped">
	<caption>Daily Inspections</caption>
    <thead>
	    <tr>
	        <th>Index</th>
	        <th>category</th>
	        <th style="width:40%;">item</th>
	        <!--<th>impact</th>
	        <th>correct</th>-->
	        <th>correct status</th>
	        <th>owner</th>
	        <!--<th>updated</th>-->
	        <th style="width:20%;">created</th>
	        <th style="width:20%">due date</th>
	        <th>image before</th>
	        <th>image after</th>
	    </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>
            <td><a href='{{object.get_absolute_url}}'}>{{forloop.counter}}</a></td>
            <td>{{object.category}}</td>
            <td>{{object.item}}</td>
            <!--<td>{{object.impact}}</td>
            <td>{{object.correct}}</td>-->
            <td>{{object.rectification_status}}</td>
            <td>{{object.owner}}</td>
            <!--<td>{{object.updated}}</td>-->
            <td>{{object.created}}</td>
            <td>{{object.due_date}}</td>
            <td><img  id='img_before' class= 'img-responsive' src="{{object.get_image_url_before}}"/></td>
            <td><img  id='img_after' class= 'img-responsive' src="{{object.get_image_url_after}}"/></td>
        </tr>
        {% endfor %}
    </tbody>
</table>