{% load comments %}



(function($){
    $.fn.bindPostCommentHandler = function() {
        // We get passed a list of forms; iterate and get a unique id for each
        // attach a submit trigger to handle saving and returning
        this.each(function() {            
            try{
                $(this).find('input.submit-preview').remove(); 
                //$(this).find('input.submit-post').parent().append("<input type='hidden' name='next' value='{% url "Crowdfunding_comments" pk=object.id %} '/>"); 
                $(this).find('input#id_url').parent().remove(); // valid only for '#new_cmt form'
            }
            catch (err) {
            }

            $(this).submit(function() {
                commentform = this; 
                commentwrap = $(this).parent();
                $.ajax({
                    type: "POST",
                    data: $(commentform).serialize(),
                    url: "{% comment_form_target %}",
                    cache: false,
                    dataType: "html",
                    success: function(html, textStatus) {
                        // Extract the form from the returned html
                        // window.location.reload();
                        postedcomment = $(html).find('#cmt_show');
                        posted_comment_html=postedcomment.html();
                        console.log(posted_comment_html);
                        posted_comment_wrap_html="<div id='cmt_show'>"+posted_comment_html+"</div>";
                        $('#cmt_show').replaceWith(posted_comment_wrap_html);
                        // this method only replace form with comment
                        //postedcomment = $(html).find('#newly_posted_comment');
                        //$(commentform).replaceWith(postedcomment.html());
                        //$(commentwrap).hide();
                        //$(commentwrap).slideDown(600);
                        $(commentwrap).find('.comment-form form').bindPostCommentHandler();
                        $(".fa-reply").bind("click",function(){bindform($(this));});
                        $('.comment-form form').bindPostCommentHandler();
                        $('#comment_form form')[0].reset();                        
                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(commentform).replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                    }
                });
                return false;
            });
        }); //each
    };
})(jQuery);

$(function() {
    $('.comment-form form').bindPostCommentHandler(); 
    $('#new_cmt form').bindPostCommentHandler(); 
});



