{% extends "base.html" %}

{% block content %}

<form method="POST" class="ajaxform" id="id_form-{{form_id}}" action=''>{% csrf_token %}            
    {% for field in form %}
        {% if field.name in form.Meta.hidden_form %}
            <td style="display:none" type='hidden'>{{field}}</td>                    
            {% if not field.name in form.Meta.hidden %}
            <td class="text-center">{{form.instance|get_field_value:field.name}}</td>
            {% endif %}
        {% elif field.name in form.Meta.disabled %}
            <td class="text-center">{{form.instance|get_field_value:field.name}}</td>
        {% else %}
            <td>
                <div class="displayonly text-center" style="display: block">{{form.instance|get_field_value:field.name}}</div>
                <div class="edit" style="display: none">{{field}}</div>
            </td>
        {% endif%}            
    
    {% endfor %}
        <td>
            <i class="fa fa-1x fa-pencil-square-o edit-fields" aria-hidden="true" style="padding-top: 40%;"></i>
            <input type="image" value=" " class="fa fa-check check-fields"  style="display: none;" style="padding-right: 0; margin-right: 0; width:100%" />
            <i class="fa fa-times close-fields" aria-hidden="true" style="display: none"></i>
            <div id='blank'></div>
        </td>
    
</form>

{% endblock %}