{% load crispy_forms_tags %}

{% for form in formset %}
<div class='row formset-edit'>
	<div class="col-md-6 col-md-offset-3">
		<div class='row display'>
			<div class="col-xs-10 col-sm-11">
				{{form.instance}}
			</div>
			<div class="col-xs-2 col-sm-1 text-right">
				<i class="fa fa-1x fa-pencil-square-o edit-form" aria-hidden="true"></i>
			</div>			
		</div>
		<div class='row form-edit' style="display:none;">
			{% include "form_horizontal.html" %}
		</div>
	</div>
</div>
{% endfor %}



