{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}

<script>
{% block js %}

	$(document).ready(function(){
		$(".field-area>div>input").addClass("form-control");
		$(".field-area textarea").addClass("form-control");
		$(".field-area select").addClass("form-control");
		$(".field-area>label").addClass("col-sm-2 control-label");
		
		$(".field-area image-field a").hide()
	});

	function submit_data() {
		$.ajax('',{
			type: "POST",
			dataType: "json",
			data : {
				m:0,
			},					
			beforeSend : function(){
				alert(0);
			},
			success: function(s) {
				console.log("success");
			},
			error: function() {
				console.log("error");
			},
			timeout:10000
		})
	}

{% endblock %}
</script>

<script>
{% block jquery %}

//http://www.w3school.com.cn/jquery/css_css.asp
//http://www.w3school.com.cn/jquery/jquery_css_classes.asp

	$(".edit-form").bind("click",function(){
	    expand_shrink_form($(this));
	});	
	function expand_shrink_form(this_expand_shrink){
	    var instance_div = this_expand_shrink.parent().parent();  
	    var form_div = this_expand_shrink.parent().parent().next();  
	    instance_div.css("display","none");
	    form_div.css("display","block");	    
	}	

	$(".edit-fields").bind("click",function(){
	    show_edit_form($(this));
	});	

	$(".close-fields").bind("click",function(){
	    close_edit_form($(this));
	});	

	function show_edit_form(this_expand_shrink){
	    var instance_div = this_expand_shrink.parent().parent().find(".displayonly");  
	    var form_div = this_expand_shrink.parent().parent().find(".edit");  
	    var check_button = this_expand_shrink.parent().children(".check-fields");
	    var close_button = this_expand_shrink.parent().children(".close-fields");
	    instance_div.css("display","none");
	    form_div.css("display","block");	 
	    check_button.css("display","block");
	    close_button.css("display","block");
	    this_expand_shrink.css("display","none");
	}		

	function close_edit_form(this_expand_shrink){
	    var instance_div = this_expand_shrink.parent().parent().find(".displayonly");  
	    var form_div = this_expand_shrink.parent().parent().find(".edit");  
	    var check_button = this_expand_shrink.parent().children(".check-fields");
	    var edit_button = this_expand_shrink.parent().children(".edit-fields");
	    instance_div.css("display","block");
	    form_div.css("display","none");	 
	    check_button.css("display","none");
	    edit_button.css("display","block");
	    this_expand_shrink.css("display","none");
	}		



{% endblock %}
</script>

{% block content %}

<div class='row object_lists'>

    <div class="col-xs-12 ">
		{% autopaginate object_list 6 %}
        
		{% if object_list.count == 0 %}
			Nothing found
		{% else %}
			{% include "shelf/shelf_inspection_record_table.html" with object_list=object_list %}      	
		{% endif %}
        
		<div class="text-center">
		{% paginate %}
		</div>            
	</div>


</div>



{% endblock %}