{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		{% trans "Shelf" %}: {{object.shelf}} <br>
		{% trans "Use Condition" %}: {{object.use_condition}}<br>
		{% trans "Locked" %}: {{object.is_locked}}<br>
		{% trans "Check Person" %}: {{object.check_person}}<br>
		{% trans "Gradient" %}: {{object.gradient}}<br>
		{% trans "Forecast Complete Time" %}: {{object.forecast_complete_time}}<br>
		{% trans "Comments" %}: {{object.comments}}
	</div>
</div>

<hr>

{% endblock %}