{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}

{% block content %}

<div class='row object_lists'>

    <div class="col-md-6 col-md-offset-3 ">
		{% autopaginate object_list 6 %}
        
		{% if object_list.count == 0 %}
			Nothing found
		{% else %}
			{% include "shelf/shelf_inspection_record.html" with object_list=object_list %}            	
		{% endif %}
        
		<div class="text-center">
		{% paginate %}
		</div>            
	</div>


</div>



{% endblock %}