{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}

<style type="text/css">
{% block style %}

{% endblock%}
</style>

<script>
{% block js %}

$(document).ready(function(){
	$(".field-area>input").addClass("form-control");
	$(".field-area textarea").addClass("form-control");
	$(".field-area select").addClass("form-control");
	$(".field-area>label").addClass("control-label");
	
	$(".field-area image-field a").hide()

});

{% endblock %}
</script>

{% block content %}

<div class='row object_lists'>

    <div class="col-md-6 col-md-offset-3">
		{% autopaginate records 6 %}
        
		{% if records.count == 0 %}
			Nothing found
		{% else %}			
			{% for record in records %}
			<a href='{{ record.get_absolute_url }}'>{{record.check_date}}</a>
			{% endfor %}
		{% endif %}
        
		<div class="text-center">
		{% paginate %}
		</div>
	</div>
</div>



{% endblock %}