{% load mptt_tags %}	
{% load mytags %}

			{% for genre,structure in genres|tree_info %}
				{% ifequal genre.object_pk root.id|int2str %}

				    {% if structure.new_level %}<ul><li >
				    {% else %}</li><li>
				    {% endif %}
				    {{ genre.id }} - {{ genre.name }} <br>
				    {{ genre.comment }} <br>
				    {% for level in structure.closed_levels %}</li></ul>{% endfor %}

				    {% drilldown_tree_for_node genre as drilldown  %}
				    {% for node,structure in drilldown|tree_info %}
						{% if node == genre %}
					        <!-- <strong>{{ node.name }}</strong> -->
					    {% else %}
					        <a href="{{ node.get_absolute_url }}">{{ node.id }} - {{ node.name }}</a>
					        {% if node.parent_id == genre.pk %}{% endif %}
					        <br>
					        {{ node.comment }} <br>
					    {% endif %}
					    
				    	{% for level in structure.closed_levels %}</li></ul>{% endfor %}
				    	
					{% endfor %}				    

				{% endifequal %}
			{% endfor %}	