{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load comments %}
{% load mptt_tags %}


<!-- {% load staticfiles %}
<link href="{% static 'css/review.css' %}" rel="stylesheet"> -->


{% block content %}


<div class='row'>
	<div class='col-sm-8'> 
		<!-- {{signPackage}} -->
		<h2>{{object.title}}</h2>
		{% if object.get_image_url %}
		<div>
			<img  id='img' class= 'img-responsive' src='{{ object.get_image_url }}'/>
		</div>
		{% endif %}		
		<p class='lead'>
			{{object.detail}}
		</p>
		<i id="favorite" class="fa fa-heart" style= "color:{% if object.is_favorite %} #9C1010{% else %} #333 {% endif %}" aria-hidden="true"></i>
		<br>
		<a href=""><i class="fa fa-weixin fa-3x"></i></a>
		<input type="button" id='test'>

		<div> 
			<br>
			deadline : {{object.deadline}} <br>
			target : {{object.amount}} <br>
			<!-- http://getbootstrap.com/components/#progress -->
			<h3>5 Joined</h3>		
			<div class="progress">
				<div class="progress-bar" id='count5' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					<span class="sr-only">60% Complete</span>
				</div>
			</div>
		</div>

<style type="text/css">
	label{display:inline;float:left;width:20%;}
	input,textarea{width:80%;}
	textarea{height:80px;}
	input[type=submit]{width:20%;margin-left:0%;float:right;}
</style>

<!-- 
http://django-mptt.readthedocs.io/en/latest/templates.html
http://django-mptt.github.io/django-mptt/templates.html 
https://pypi.python.org/pypi/django-threadedcomments
-->

{% comment %}
		<div {% if request.REQUEST.c|add:"0" == node.id %}id="newly_posted_comment"{% endif %}>	
			{% full_tree_for_model comments.MPTTComment as genres %}
			{% include "crowdfundings/comments_mptt_tree.html" with root=object %}
		</div>
{% endcomment %}

		<div id="new_cmt">
			<hr>
			{# render_comment_form for object #}
			{% include "crowdfundings/comments_form.html" %}

			<hr>
			{% with object as crowdfunding_obj %}		
			{% endwith %}
			{% include "crowdfundings/comments_tree.html" %}
			<hr>
		</div>
		
		<div id="report">
			<p><h4>Report:</h4></p>
			<form action="{url 'Crowdfunding_create'}" method="post" >{% csrf_token %}
				<textarea class="input-xlarge form-control" id="id_report" name="report" placeholder="please enter report" required="required"></textarea>
				<input class='btn btn-default' type="submit" value="submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}

<script type="text/javascript" charset="utf-8">

{% block jquery %}

	function onBridgeReady() {
	    WeixinJSBridge.on('menu:share:appmessage', function(argv) 
	    {
	        WeixinJSBridge.invoke('sendAppMessage',{
	                    "link":document.URL,
	                    "desc":"{{object.detail}}",
	                    "title":"{{object.title}}"
	        }, function(res) {
	            WeixinJSBridge.log(res.err_msg);
	        });
	    });
	    // WeixinJSBridge.on('menu:share:timeline', function(argv) 
	    // {
	    $(".fa-weixin").click(function(){
		    WeixinJSBridge.invoke("shareTimeline",{
		        "link":document.URL,
		        "img_url": window.location.protocol + '//' + window.location.host + '{{object.get_image_url}}',
		        "img_width":"172",
		        "img_height":"40",
		        "desc":"{{object.detail}}",
		        "title":"{{object.title}}"
		        },
		        function(e){
		        alert(e.err_msg);
		        })
	   });
	    // });
	}
	 
	if (typeof WeixinJSBridge === "undefined"){
	    if (document.addEventListener){
	        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	    }
	}else{
	    onBridgeReady();
	}

	//通过config接口注入权限验证配置
	wx.config({
		debug: false,
		appId: '{{signPackage.appId}}',
		timestamp:'{{signPackage.timestamp}}',
		nonceStr: '{{signPackage.nonceStr}}',
		signature: '{{signPackage.signature}}',
		jsApiList: [
			'checkJsApi',
			'onMenuShareAppMessage'
			]
		});

	wx.ready(function () {
		// 1 判断当前版本是否支持指定 JS 接口，支持批量判断		
		wx.checkJsApi({
			jsApiList: [
				'onMenuShareAppMessage'
			],
			success: function (res) {
				console.log("checkJsApi res");
			}
		});
	
		//获取“分享给朋友”按钮点击状态及自定义分享内容接口
		wx.onMenuShareAppMessage({
			title: "{{object.title}}",
			desc: "{{object.detail}}",
			link: document.URL, //'{{signPackage.url}}',
			imgUrl: window.location.protocol + '//' + window.location.host + '{{object.get_image_url}}',
			trigger: function (res) {
				// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
				console.log("onMenuShareAppMessage trigger");
			},
			success: function (res) {
				console.log("onMenuShareAppMessage success");
				$.ajax({
					url: '',
					data: { name: "temp"},
					type: 'post',
					cache:false,
					success: function(data){
						console.log("Ajax success!");
					},
					error: function(xhr, type){
						console.log("Ajax error!");
					}
				})
			},
			complete: function (res) {
				console.log("onMenuShareAppMessage complete");
			},
			cancel: function (res) {
				console.log("onMenuShareAppMessage cancel");
			},
			fail: function (res) {
				console.log("onMenuShareAppMessage fail");
			}
		});
	})

	wx.error(function(res){
		// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		console.log("wx.error");
	});


// $("#test").click(function(){
// 	wx.onMenuShareAppMessage();
// })

//http://api.jquery.com/click/
$("#favorite").click(function(){

	$.ajax('',{
		type: "GET",
		dataType: "json",
		data : {
			purpose:'addFavorite'
		},					
		beforeSend : function(){
			console.log("beforeSend");
		},
		success: function(data) {
			console.log("success");
			flash_message = "" 
			if(data.is_favorite){
				flash_message = "favorite successfully." 
				$("#favorite").css("color","#9C1010");
			}else{
				flash_message = "cancel favorite successfully." 
				$("#favorite").css("color","#333");
			}
			showFlashMessageX(flash_message,"#favorite");
		},
		error: function() {
			alert("error for add favorite");
		},
		timeout:1000
	})
})


// $('.fa-reply').click(
//     function(){
//       var media_div = $(this).parents('.media');
//       media_div.next('.comment-content').css("color","red");
//       var form_div = media_div.next().next();
//       // var form_div = media_div.next('.comment-form');
//       // var form_div = media_div.nextUntil('.reply-form');      
//       form_div.css("display","block");
//     });


function bindform(this_fa_reply){
    var media_div = this_fa_reply.parents('.media');
    media_div.next('.comment-content').css("color","red");
    var form_div = media_div.next().next();
    // var form_div = media_div.next('.comment-form');
    // var form_div = media_div.nextUntil('.reply-form');  
    $(".comment-form").hide();    
    form_div.css("display","block");
}

$(".fa-reply").bind("click",function(){
    bindform($(this));
});

{% include "_ajax_comments.html" with object=object%}

{% endblock %}
</script>


