{% extends "base.html" %}

{% block content %}

{% if object_list|length <= 0 %}
	<div class='col-sm-6 col-sm-offset-3 text-center'>
	<p class='lead'>
	You do not currently have crowdfunding.
	</p>

	</div>

{% else  %}

	<div class='col-sm-6 col-sm-offset-3'>
	<h1>Your Crowdfunding</h1>
	<table class='table'>
	{% for object in object_list %}
		<tr>
			<td>
				<a href='{% url "Crowdfunding_detail" pk=object.id %}'>View #{{ object.id }}</a>
			</td>
			<td>
				Title: {{ object.title }}
			</td>
		</tr>
	{% endfor %}

	</table>
	</div>
{% endif %}

{% endblock %}