{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class='row'>
	<div class ='col-sm-6 col-sm-offset-3'>
		{% if title %}
			<h1 class = '{% if title_align_center %}text-align-center{% endif %}'>{{title}}</h1>
		{% endif %}
		<form method='POST' enctype="multipart/form-data" action=''>{% csrf_token %}
			<input type="hidden" name="user_id" value="{{ user_id }}" />
			{{ form|crispy }}
{% comment %}			
			{{image_form.as_p}}
			 <form id="form_upload" action="/upload" method="POST">
			    <input type="file" name="picture" id="picture" />
			    <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
			    <input type="hidden" id="id" name="id" value=""/>
			    <input id="form_submit_button" class="tp-button" type="submit" value="Submit" />
			</form>
{% endcomment %}			
			<input class = 'btn btn-primary' type='submit' value='Submit' />
		</form>
	</div>
</div>
{% endblock %}

<script type="text/javascript" charset="utf-8">
{% block jquery %}

$("#id_image").attr("accept","video/*;capture=camcorder")

{% endblock %}
</script>

