{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load comments %}
{% load mptt_tags %}


<!-- {% load staticfiles %}
<link href="{% static 'css/review.css' %}" rel="stylesheet"> -->


{% block content %}
<div class='row'>
	<div class='col-sm-8'> 
		<h2>{{object.title}}</h2>
		{% if object.get_image_url %}
		<div>
			<img  id='img' class= 'img-responsive' src='{{ object.get_image_url }}'/>
		</div>
		{% endif %}		
		<p class='lead'>
			{{object.detail}}
		</p>		
		<i id="favorite" class="fa fa-heart" style= "color:{% if object.is_favorite %} #9C1010{% else %} #333 {% endif %}" aria-hidden="true"></i>

<hr>

<style type="text/css">
	label{display:inline;float:left;width:20%;}
	input,textarea{width:80%;}
	textarea{height:80px;}
	input[type=submit]{width:20%;margin-left:0%;float:right;}
</style>

<!-- 
http://django-mptt.readthedocs.io/en/latest/templates.html
http://django-mptt.github.io/django-mptt/templates.html 
https://pypi.python.org/pypi/django-threadedcomments
-->

		<hr>
		<div id="new_cmt">
		{# render_comment_form for object #}
		{% include "crowdfundings/comments_form.html" %}
		</div>

{% comment %}
		<div {% if request.REQUEST.c|add:"0" == node.id %}id="newly_posted_comment"{% endif %}>	
			{% full_tree_for_model comments.MPTTComment as genres %}
			{% include "crowdfundings/comments_mptt_tree.html" with root=object %}
		</div>
{% endcomment %}

		<hr>
		{% with object as crowdfunding_obj %}		
		{% endwith %}
		{% include "crowdfundings/comments_tree.html" %}

		<hr>
		<div id="report">
			<p><h4>Report:</h4></p>
			<form action="{url 'Crowdfunding_create'}" method="post" >{% csrf_token %}
				<textarea class="input-xlarge form-control" id="id_report" name="report" placeholder="please enter report" required="required"></textarea>
				<input class='btn btn-default' type="submit" value="submit">
			</form>
	</div>
</div>
{% endblock %}

<script type="text/javascript" charset="utf-8">
{% block jquery %}

//http://api.jquery.com/click/
$("#favorite").click(function(){

	$.ajax('',{
		type: "GET",
		dataType: "json",
		data : {
			purpose:'addFavorite'
		},					
		beforeSend : function(){
			console.log("beforeSend");
		},
		success: function(data) {
			console.log("success");
			flash_message = "" 
			if(data.is_favorite){
				flash_message = "favorite successfully." 
				$("#favorite").css("color","#9C1010");
			}else{
				flash_message = "cancel favorite successfully." 
				$("#favorite").css("color","#333");
			}
			showFlashMessageX(flash_message,"#favorite");
		},
		error: function() {
			alert("error for add favorite");
		},
		timeout:1000
	})
})


// $('.fa-reply').click(
//     function(){
//       var media_div = $(this).parents('.media');
//       media_div.next('.comment-content').css("color","red");
//       var form_div = media_div.next().next();
//       // var form_div = media_div.next('.comment-form');
//       // var form_div = media_div.nextUntil('.reply-form');      
//       form_div.css("display","block");
//     });


function bindform(this_fa_reply){
    var media_div = this_fa_reply.parents('.media');
    media_div.next('.comment-content').css("color","red");
    var form_div = media_div.next().next();
    // var form_div = media_div.next('.comment-form');
    // var form_div = media_div.nextUntil('.reply-form');  
    $(".comment-form").hide();    
    form_div.css("display","block");
}

$(".fa-reply").bind("click",function(){
    bindform($(this));
});

{% include "_ajax_comments.html" with object=object%}

{% endblock %}
</script>


