{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h1 class="text-center">About Us</h1>
		<div  style="text-align: left">
			<p>Hunan Cofoe Medical Technology Development Co.,Ltd is a professional medical devices high-tech technology type production enterprise which is specialized in household medical auxiliary rehabilitation appliance and household electronic surveillance products' R&D.</p>
			<p>
			We established a special R&D team in Germany, responsible for product development and design, the brand--"Cofoe" has been registered in the European Union. Currently, there are more than 60 categories products, the mainly R&D products are 6864 medical supplies and dressings and 6826 physical therapy and rehabilitation equipment, etc.</p>
			<p>
			15 types of wrist and arm electronic blood pressure monitor have got recognized at domestic and abroad market."Cofoe" products has been exported to more than 50 countries and regions in the world, well received by users.</p>
			<p>
			We will continue to create more technological, innovative and humanized rehabilitation auxiliary products to improve our own product system and the quality of life of the masses.</p>
			<p>
			"Be focus, Be professional." All of the Cofoe staffs will take the masses' health as own duty. Opening the market with quality,stabilizing the market with services,expanding the market with products, strive to become one of the home medical equipment manufacturers which possesses various products, best quality and best service,so that meet the market demand and the benefit of the general public.</p>
		</div>
		<hr>
		<p><b>Address:</b></p>
		<iframe src="sitemap" width="600" height="300" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
{% endblock%}