{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}crowdfunding{% endblock %}</title>

  {% include 'head_css.html' %}

  <style>
  {% block style %}{% endblock %}
  </style>
      
  </head>

  <body>
  {% include 'navbar.html' %}

  {% if messages %}
  <div class='container'>
    <div class='alert alert-success text-center alert-dismissible'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
      {% endfor %}
    </div>
  </div>
  {% endif %}

    {% block jumbotron %}
    {% endblock %}

    {% block carousel %}  
    {% endblock %}
      
    <div class="container">
    <!-- <div class="container-fluid"> -->
      {% block content %}
      {% endblock %}

           
    </div>

  <div class='container'>    
    <hr>
      <ul class="list-inline">
          友情链接：
          <li><a href="http://www.webdog.cn/" target="_blank">发现中国</a></li>   
          <li><a href="http://www.aboboo.com/" target="_blank">外语学习</a></li>   
          <li><a href="http://www.wuzheng.org/" target="_blank">无争围棋网</a></li>  
          <li><a href="http://www.guokr.com/" target="_blank">果壳网</a></li>  
          <li><a href="http://www.fuwo.com/" target="_blank">爱福窝</a></li>  
          <li><a href="http://www.guoku.com/" target="_blank">果库</a></li>  
          <li><a href="http://www.python88.com/" target="_blank">py社区</a></li> 
      </ul> 
  </div>      
    {% include "javascript.html" %}

    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });
    </script>


  </body>
</html>
