{% load staticfiles %}
{% load i18n %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">zakkabag</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <form class="navbar-form navbar-left" method="GET" role="search" action='{% url "products" %}'>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q"  value='{{ request.GET.q }}'>
            </div>
             <!--  <button type="submit" class="btn btn-default">Submit</button> -->
            </form>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href='{% url "cart" %}'><i class="fa fa-shopping-cart fa-navbar-cart"></i> <span id="cart-count-badge" class='badge'>{{ request.session.cart_item_count }}</span></a></li>            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crowdfundings <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                
                <li><a href="{% url 'products' %}">Products</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'orders' %}">Orders</a></li> 
                {% endif %}
                <li><a href="{% url 'CrowdfundingListView' %}">Crowndfunding</a></li> 
                {% comment %}
                <li><a href="{% url 'Activity' %}">Activity</a></li>
                {% endcomment %}

              </ul>
            </li>                
            {% if request.user.is_authenticated %}              
              {% if request.user.is_wechatuser %}
              <li><a href='{{request.user.get_absolute_url}}'}>{{request.user.get_wechatprofile}}</a></li> 
              <li><a href="{% url 'logout' %}">Logout</a></li>              
              {% else %}
              <li><a href="{{request.user.get_absolute_url}}">{{request.user}}</a></li> 
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% endif %}
<!--- below shuold be useless -->              
            {% elif request.wechat %}            
              <li><a href="{{request.wechat.get_absolute_url}}">{{request.wechat}}</a></li> 
              <li><a href="{% url 'logout' %}">Logout</a></li>          
            {% else %}
              <li><a href="{% url 'register_phone' %}">Register</a></li>
              {# <li><a href="{% url 'registration_register' %}">Register</a></li> #}
              <li><a href='{% url "wechatlogin" %}'><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
              {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <!-- <form class='navbar-form' method='POST' action='{% url "auth_login" %}'>{% csrf_token %} -->
                  <form class='navbar-form' method='POST' action='{% url "login" %}'>{% csrf_token %}
                    <div class='form-group'>
                        <input type='text' class='form-control' name='username' placeholder='Username/Phone/Mail' /> 
                    </div>
                    <div class='form-group'>
                        <input type='password' class='form-control' name='password' placeholder='Password' />
                    </div>
                    <button type='submit' class='btn btn-default btn-block'>{% trans 'Log in' %}</button>
                    <input type="hidden" name="next" value="{% url 'home' %}" /> <!-- add for redirection -->
                  </form>
                  <p class='text-center'><a href='{% url "auth_password_reset" %}'>Forgot Password</a>?</p>
                </ul>
              </li>
              {% endif %}            
              <!-- <li><a href="{% url 'auth_login' %}">Login</a></li> -->
            {% endif %}
            <li><a href="#">Settings</a></li>             
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>