<style type="text/css">

 .thumbnail :hover img{

    opacity: 0.4;
    filter: alpha(opacity=40);
 	margin: 0px 0px 0px -10px;
 	transition-property: margin,opacity; 
 	transition-duration: 0.5s; 
 	transition-timing-function: ease;

/*    
    margin: 0px 2px 0px 0px; 
    -moz-transition-duration: 5s; 
    -webkit-transition-duration: 5s; 
    -o-transition-duration: 5s;  
    -moz-transition-timing-function: ease; 
    -webkit-transition-timing-function: ease; 
    -o-transition-timing-function: ease;  
*/   	
}

 .thumbnail:hover  img {

 }


div.scale-product .thumbnail :hover img{
    -webkit-transform:scale(1.1) rotate(0deg); 
    -moz-transform:scale(1.1) rotate(0deg); 
    -o-transform:scale(1.1) rotate(0deg); 
    -webkit-transition:all 2s; 
    -moz-transition:all 2s; 
    -o-transition:all 2s;   
    margin: 0px; 
    opacity: 1;
}

.thumbnail img{
	border-radius: 3px;
}

.thumbnail{
	border: none;
}

</style>

<div class="thumbnail text-center">
	{% if product.get_image_url %} 
		<a href='{{ product.get_absolute_url }}'><div class="pdb img-center"><img  id='img' class= 'img-responsive' src='{{product.get_image_url}}'/></div></a><br/>
	{% endif %}	

	{% if price == "True" %}
		{{ product.variation_set.first.get_html_price }}
	{% endif %}	

	<h5><a href='{{ product.get_absolute_url }}'>{{product.title}}</a></h5>	
</div>